
.mkhetTimeSliderContainer {
    z-index: 110;
    position: fixed;
    
    display: block;
    width: 100%;
    
    bottom: 60px;
    left: auto !important;
    right: auto !important;
    
    margin: 0px !important;
    padding: 0px !important;
    
    text-align: center;
}