:root {
    --merkhet-ui-margin: 4px;

    --aton-colors-accent: white;
    --aton-colors-accent-rgb: 255,255,255;
}

.merkhet-logo {
    width: 200px;
    height: auto;
}

[data-bs-theme=light] .merkhet-logo {
    filter: none;
}
[data-bs-theme=dark] .merkhet-logo {
    filter: invert(100%);
}

.merkhet-text-block {
    font-size: smaller;
    text-align: justify;
    margin: 4px;
}

.merkhet-main-toolbar {
    margin: var(--merkhet-ui-margin);

    z-index: 100 !important;

    max-height: calc(100% - (var(--merkhet-ui-margin)*2));

    background-color: rgba(var(--bs-body-bg-rgb), 0.5) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.merkhet-main-btn {
    --bs-btn-bg: rgba(var(--bs-body-bg-rgb), 1.0);
    --bs-btn-border-color: rgba(var(--bs-body-color-rgb), 0.0);
    --bs-btn-color: var(--bs-btn-color);

    --bs-btn-hover-bg: rgba(var(--bs-body-bg-rgb), 1.0);
    --bs-btn-hover-border-color: rgba(var(--bs-body-color-rgb), 0.0);
    --bs-btn-hover-color: var(--bs-btn-color);
}

.merkhet-user-toolbar {
    top: 0px;
    right: 0px;
    position: absolute;

    margin: var(--merkhet-ui-margin);

    background-color: rgba(var(--bs-body-bg-rgb), 0.3) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.merkhet-bottom-container {
    position: absolute;
    
    bottom: 0px;
    width: 100%;
    
    text-align: center;

/*     background-color: rgba(var(--bs-body-bg-rgb), 0.5) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius)); */
}

.merkhet-bottom-toolbar {
    display: inline-block;
    margin: var(--merkhet-ui-margin);

    margin: 0px;

    background-color: rgba(var(--bs-body-bg-rgb), 0.5) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.merkhet-side-panel {
    z-index: 10 !important;

    padding-left: 50px;
}

.merkhet-record {
    cursor: pointer;

    opacity: 0.6;

    padding: 0px;
    display: block;

    text-align: right;

    white-space: nowrap;

    margin: 2px;
    /*margin-left: 8px;*/

    background-color: rgba(var(--bs-body-bg-rgb), 0.5);
    /*border-left: solid var(--bs-body-color) 1px;*/

    border-radius: var(--bs-border-radius);

    font-size: smaller;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.merkhet-record-active {
/*     border: solid var(--bs-body-color) 1px; */
    opacity: 1.0;
}


.merkhet-timeline-container {
    display: block;
    
    width: 100%;

    text-align: center;

    padding: 10px;
    margin: auto;
}

.merkhet-timeline-slider {
    display: block !important;
    width: 100% !important;
    padding: 0px;

    margin: auto !important;

/*     background-color: rgba(var(--bs-body-color-rgb), 0.5);
    border-radius: var(--bs-border-radius); */
}

.merkhet-timeline-info {
    display: inline-block;
    font-size: small;

    padding: 4px;
    margin-bottom: 4px;

    background-color: rgba(var(--bs-body-bg-rgb), 0.5);
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));
}

.merkhet-timeline-record {
    /* font-size: larger; */
    /* white-space: nowrap; */

    display: inline-block;
    padding: 8px;

    margin-right: 8px;

    background-color: rgba(var(--bs-body-bg-rgb), 0.3);
    border-radius: var(--bs-border-radius);
}

.merkhet-timeline-progress {
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    padding: 0px;

    background-color: white;
    width: 50%;
    height: 10px;

    opacity: 0.2;
}

/* 
.merkhet-timeline-circle {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 15px;
  position: absolute;
  top: -7px;
  border: 3px solid white;
  cursor: pointer;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    display: none;
  }
  .merkhet-timeline-mark-popup {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
    color: white;
    position: absolute;
    top: 20px;
    left: -75px;
    display: none;
    transition: all 0.1s ease-out;
  }

  &.hover:before, &.active:before {
    display: block;
  }
  &.hover .merkhet-timeline-mark-popup, &.active .merkhet-timeline-mark-popup {
    display: block;
  }
  &.active .merkhet-timeline-mark-popup {
    top: -40px;
  }
}

.merkhet-timeline-mark {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    color: white;
}

.merkhet-timeline {
    height: 6px;
    width: 70%;
    background: white;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.merkhet-timeline-container {
    width: 100%;
    height: 20%;
} */